.info-button {
    background: rgba(0,0,0,0);
    border: none;
    margin-right: 1%;
}

/* .info-button:hover {
    background-color: darkgrey;
} */

.info-icon {
    font-size: 25pt;
}

.navbar-logo {
    margin-left: 1%;
}

.info-button {
    margin-right: 2%;
}

.nav-link {
    margin-right: 3rem;
}

.nav-link:hover {
    background-color: darkgray;
}

.dropdown-menu {
    margin-left: -115% !important;
}

.dropdown-item:hover {
    cursor: pointer;
}